<div class ="container">
  <h2>Editing Book</h2>
  <!-- form_with部分 -->
  <%= form_with model: @book, local: true do |f| %>
  <!-- エラーメッセージ部分-->
  <%= render 'layouts/error_messages', model: f.object %>
    <h4>Title</h4>
      <p><%= f.text_field :title %></p>
    <h4>Opnion</h4>
      <p><%= f.text_area :body %></p>
      <p><%= f.submit 'Update Book' %></p>
  <% end %>
  <!-- ページ移動部分 -->
  <div class="pagelink">
    <p><%= link_to "Show", book_path(@book.id) %></p>
    <p>|</p>
    <p><%= link_to "Back", books_path %></p>
  </div>
</div>