<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b18a5949f9.js" crossorigin="anonymous"></script>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!--logo-->
        <h3 class="site-logo"><a href ="/">Bookers</a></h3>
        <!--menue-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- after signin or login -->
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user) do %>
                  <i class="fas fa-home"></i><b> Home</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path do %>
                  <i class="fas fa-users"></i><b> Users</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path do %>
                  <i class="fas fa-book-open"></i><b> Books</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path ,method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i><b> logout</b>
                <% end %>
              </li>
            <% else %><!--before-->
              <li class="nav-item">
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i><b> Home</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to home_about_path do %>
                  <i class="fas fa-link"></i><b> About</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus"></i><b> sign up</b>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path do %>
                  <i class="fas fa-sign-in-alt"></i><b> login</b>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <!--メッセージ部分-->
    <div class = "successfully-message-box">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <footer>
    <div class="footer_text">CopyRight Infratop.inc</div>
  </footer>
</html>
